{% extends "base_generic.html" %}
{% load dashboard_extras %}
{% block content %}
    <h1>Hi this is {{ name }}~</h1>
{% endblock %}
{% block sidebar %}
{% load static %}
<img src="{% static 'doge.gif' %}" alt="Girl in a jacket" width="500" height="600">
      <ul class="sidebar-nav">
          <h1>Side bar has  {{ sidebar|length }} elements~</h1>
          {% for bar in sidebar %}
                <li><a href="">{{ bar }}</a></li>
          {% endfor %}
      </ul>

<table>



    {% for a in articles %}
      <tr>
          <td>{{ a.id|split:"-" }}</td>
        <td>{{ a.user }}</td>
        <td>{{ a.content }}</td>
        <td>{{ a.last_update }}</td>
      </tr>
    {% endfor %}


    <div class="pagination">

    {% if articles.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ articles.previous_page_number }}">Previous</a>
    {% endif %}

    <span>{{ articles.number }}</span>
    <span>of</span>
    <span>{{ articles.paginator.num_pages }}</span>

    {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">Next</a>
        <a href="?page={{ articles.paginator.num_pages }}">Last</a>
    {% endif %}

</div>
    <!--
{% for a in articles %}
  <tr>
    <td>{{ a.user }}</td>
    <td>{{ a.content }}</td>
    <td>{{ a.last_update }}</td>
  </tr>
    {% endfor %}
    -->

</table>
{% endblock %}
