{% extends "base_generic.html" %}
{% block content %}
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">{{ article.title }}</h1>
    <p class="lead">{{ article.content }}</p>
    <p>Use <a href="../examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
{% endblock %}